{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<h1 class="h2">Dashboard</h1>
<div class="row">
    <div class="col-md-4">
        <div class="card p-3">
            <h5>Total Students</h5>
            <p>{{ total_students }}</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-3">
            <h5>Total Grades</h5>
            <p>{{ total_grades }}</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card p-3">
            <h5>Class Average</h5>
            <p>{{ "%.2f"|format(class_avg) if class_avg else "N/A" }}</p>
        </div>
    </div>
</div>
<h3 class="mt-4">Recent Students</h3>
<ul>
{% for s in recent_students %}
    <li>{{ s.name }} ({{ s.roll_number }})</li>
{% endfor %}
</ul>
{% endblock %}
